# Ejecutables y binarios
*.exe
*.out
*.obj
*.o
# Archivos SFML runtime
*.dll

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de conflicto de Git
*.orig


# Ignorar CMake build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
bin/